body {
    background-color:black;
    color:white;
}    
    
    header, main, nav, footer{
        text-align: center;
    }
    
    nav a { /*links with "nav" container */
        padding:15px;
        padding-bottom:4px;
        font-size: 1.8em;
        text-decoration: none; /*removes underline*/
        color: white;           /* by defaults, links are blue*/
    }
    
    nav a:hover{ /*pseudo class*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .5s; /*transition effect*/
    }
    
    #me, #welcomeText{
        float:left;
    }
    
    footer{
        clear:left;
    }