body{
    background-color:green;
    color:white;
}

header, nav, main, footer{
    text-align: center;
}

h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 4em;
        margin-bottom: 0px;
    }

